[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
build
build/*
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
Kudu.Services.Web/App_Data/*
artifacts/*
msbuild.log
PublishProfiles/
MailWay.Web/Assets/production/*.js
MailWay.Web/Assets/production/*.css
*.psess